.wrapper {
  width: min(calc(760px / 1.8), 90%);
  margin: 4em auto;
}

.title {
  text-align: center;
  margin-block-end: 1.5em;
}

.group {
  position: relative;
}

.group input {
  width: 100%;
  padding: 0.8em;
  font-family: inherit;
  border: 0.5px solid #555;
  border-radius: 3px;
}

.group input:focus {
  outline: 0.5px solid transparent;
}

.group label {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 0.8em;
  font-size: 14px;
  color: #555;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.group input::placeholder {
  opacity: 0;
}

.group input:not(:placeholder-shown) ~ label,
.group input:valid ~ label,
.group input:focus ~ label {
  top: 0;
  font-size: 11px;
  background-color: #fff;
  padding-inline: 0.3em;
}

.group input#warn-email,
.group input#warn-password,
.group input#warn-username,
.group input:not(:placeholder-shown):invalid {
  border-color: #f784a3;
}

.group input:focus:invalid#warn-email,
.group input:focus:invalid#warn-password,
.group input:focus:invalid#warn-username,
.group input:focus:invalid {
  border-color: #555;
}

.group input:focus:valid#warn-email,
.group input:focus:valid#warn-password,
.group input:focus:valid#warn-username,
.group input:not(:placeholder-shown):valid {
  border-color: #4ee44e;
}

.btn_wrapper button {
  width: 100%;
  padding: 0.8em;
  font-weight: 500;
  background-color: #c1c1c1;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
}

.btn_wrapper button:hover {
  cursor: pointer;
  background-color: var(--alt-clr);
}

.btn_wrapper button:focus {
  outline: 0.5px solid #555;
}

.footer {
  margin-block-start: 1em;
}

.danger {
  color: red;
  font-size: calc(1rem * 0.75);
  height: 1em;
  margin-block-end: 0.7em;
}
